/*Dispositivos pequenos*/
@media screen and (min-width: 465px) {
    #container{
        max-width: 465px;
    }
    #pokemons{
        grid-template-columns: 1fr;
    }

    #cointaner{
        width: 100vw;
        margin: 0px;
    }

    imag{
        height: 10px;
    }
}

@media screen and (min-width: 1020px){
    body{
        background-color:white;

    }

    #container{
        background-color:rgba(211, 211, 211, 0.849);
        margin: 0 auto;
        margin-top: 15px;
        max-width: 80vw;
        border-radius:5px;
    }

    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}